.App {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row-reverse;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.container-messages {
  width: 300px;
  background-color: aquamarine;
  height: 400px;
}

.container-messages p {
  background-color: rgb(81, 165, 42);
  margin: 15px;
  padding: 8px;
}

.users {
  width: 100px;
  background-color: bisque;
  overflow: auto;
}

.users p {
  margin: 15px;
}